@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


// TODO add white color to * and delete it everywhere
* {
  font-family: Monserrat, sans-serif;
  font-size: 12px;
  line-height: 140%;
  color: #ffffff;
}

label {
  display: none;
}

body {
  background: #362B40;
}

._container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;

  @media (max-width: 800px) {
    padding: 25px;
  }
}

.btn-purple {
  color: #343045;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  border: 2px solid #8176AF;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.7px;
  transition: 0.3s ease-out;

  &:hover {
    color: #ffffff;
    background: none;
    border: 2px solid #ffff;
  }
}

.btn-carousel {
  display: none;
  position: relative;
  z-index: 4;
  background: #C0B7E8;
  border: 5px solid rgba(14, 14, 14, 0.32);
  border-radius: 50%;

  @media (max-width: 700px) {
    display: block;
  }
}

.header {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;

  @media (max-width: 1200px) {
    margin-bottom: 40px;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 15px;

    &-img {

      @media (max-width: 800px) {
        width: 69px;
        height: auto;
      }
    }

    &-name {

      @media (max-width: 800px) {
        width: 46px;
        height: auto;
      }
    }
  }

  &__nav {

    @media(max-width: 1200px) {
      display: none;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 40px;
    }

    &-item {
      font-size: 14px;
      color: #ffff;
      font-weight: 700;
      letter-spacing: 0.7px;

      &:hover {
        text-decoration: underline 2px;
      }
    }
  }

  &__contact {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 40px;

    & a {
      font-size: 14px;
      padding: 17px 35px;
      font-weight: 700;
      transition: 0.3s all ease-out;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;

      @media (max-width: 800px) {
        display: none;
      }
    }

    &-link {
      color: #fff;
      border: 2px solid #ffffff;
      background: #302C42;

      &:hover {
        color: #343045;
        background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
        border: 2px solid #8176AF;
      }
    }

    &-join {
    }
  }

  &__menu {
    display: none;
    background: transparent;

    @media(max-width: 1200px) {
      display: block;
    }

    &-img {
    }
  }
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;

  @media (max-width: 1000px) {
    flex-direction: column-reverse;
    justify-content: unset;
  }

  &__description {
    position: relative;
    z-index: 3;
    max-width: 40%;

    @media (max-width: 1000px) {
      max-width: 80%;
    }
  }

  &__title, &__title-purple {
    font-size: 46px;
    font-weight: 700;
    color: #ffffff;

    @media (max-width: 1200px) {
      font-size: 40px;
    }

    @media (max-width: 500px) {
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 35px;

    @media (max-width: 1200px) {
      margin-bottom: 20px;
    }

    @media (max-width: 500px) {
      font-size: 24px;
    }
  }

  &__title-purple {
    background: linear-gradient(92deg, #C0B7E8 -1.02%, #8176AF 36.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 500px) {
      font-size: 36px;
    }
  }

  &__text {
    max-width: 450px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__build {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.5s ease-out;

    &-text {
      font-size: 14px;
      display: block;
      padding: 17px 35px;

      @media (max-width: 500px) {
        width: 100%;
        text-align: center;
      }
    }

    &-img {

      @media (max-width: 500px) {
        display: none;
      }
    }

    &:hover {
      gap: 20px;
    }
  }

  &__img-container {
    position: relative;
  }

  &__img {
    position: relative;
    z-index: 3;
    flex: 0 1 50%;
    max-width: 100%;
    border-radius: 20% 20% 20% 50%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 20px solid rgba(49, 37, 55, 0.3);


    @media (max-width: 1000px) {
      margin-bottom: 30px;
    }

    @media (max-width: 500px) {
      border-radius: 35% 30% 25% 70%;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      border: 10px solid rgba(49, 37, 55, 0.3);
    }
  }

  &__img-up, &__img-left, &__img-right {
    z-index: 0;
    position: absolute;
  }

  &__img-up {
    right: 20px;
    top: -250px;

    @media (max-width: 500px) {
      top: -200px;
    }
  }

  &__img-right {
    top: -80px;
    left: 200px;

    @media (max-width: 500px) {
      left: 70px;
    }
  }

  &__img-left {
    left: -150px;
    top: 200px;

    @media (max-width: 500px) {

    }
  }
}

.contact {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 40px;
  border-radius: 90px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(40, 29, 45, 1) 0%, rgba(63, 49, 82, 1) 50%, rgba(40, 29, 45, 1) 100%);
  box-shadow: 0 4px 4px 0 rgba(192, 183, 232, 0.01);
  margin-bottom: 60px;

  @media (max-width: 1050px) {
    justify-content: center;
  }

  @media (max-width: 600px) {
    padding: 25px 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 40px;
    gap: 20px;

    @media (max-width: 1050px) {
      display: none;
      padding: 10px 20px;
    }

    @media (max-width: 600px) {
      padding: 0 10px;
    }
  }

  &__item:nth-child(2) {
    flex: 0 0 35%;
    border-right: 1px solid rgba(192, 183, 232, 0.33);

    @media (max-width: 1050px) {
      flex: 0 0 90%;
      border: unset;
    }
  }

  &__item:nth-child(3) {
    flex: 0 0 30%;
    border-right: 1px solid rgba(192, 183, 232, 0.33);

    @media (max-width: 1050px) {
      flex: 0 0 90%;
      border: unset;
    }
  }

  &__item:nth-child(4) {
    flex: 0 0 35%;

    @media (max-width: 1050px) {
      flex: 0 0 90%;
    }
  }

  &__item-active {
    display: flex;
  }

  &__icon {
  }

  &__info {
  }

  &__title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;

    @media (max-width: 600px) {
      display: none;
    }
  }

  &__text {
    color: #ffffff;
    font-size: 14px;
  }

  &__prev {
    display: none;
    background: transparent;

    @media (max-width: 1050px) {
      display: block;
    }

    &-img {
      width: 50px;
      height: auto;

      @media (max-width: 600px) {
        width: 30px;
      }
    }
  }

  &__next {
    display: none;
    background: transparent;

    @media (max-width: 1050px) {
      display: block;
    }

    &-img {
      width: 50px;
      height: auto;

      @media (max-width: 600px) {
        width: 30px;
      }
    }
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7%;
  margin-bottom: 60px;

  @media (max-width: 1000px) {
    display: block;
    margin-bottom: 40px;
  }

  @media (max-width: 700px) {
    margin-bottom: 20px;
  }

  &__title {
    flex: 0 1 50%;
  }

  &__title-text {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: -20px;

    @media (max-width: 1200px) {
      margin-bottom: 0;
    }

    @media (max-width: 1000px) {
      text-align: center;
    }

    @media (max-width: 600px) {
      font-size: 26px;
    }
  }

  &__subtitle {
    display: flex;
    align-items: center;
    gap: 30px;

    @media (max-width: 1000px) {
      display: block;
    }

    &-text {
      font-size: 36px;
      color: #ffffff;
      font-weight: 300;

      @media (max-width: 1000px) {
        text-align: center;
      }

      @media (max-width: 600px) {
        font-size: 26px;
      }
    }

    &-img {

      @media (max-width: 1200px) {
        display: none;
      }
    }
  }

  &__text {
    flex: 0 1 50%;

    color: #FFF;
    font-size: 16px;

    @media (max-width: 1000px) {
      display: none;
    }
  }
}

.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 17%;
  margin-bottom: 60px;

  @media (max-width: 1200px) {
    gap: 7%;
  }

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  &__img-cnt {
    position: relative;
    z-index: 3;
    flex: 0 1 40%;

    @media (max-width: 1000px) {
      margin-bottom: 40px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    border-radius: 50% 17.5%;
  }

  &__info {
    position: relative;
    z-index: 3;
    flex: 0 1 50%;

  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__subtitle {
    font-size: 36px;
    font-weight: 300;
    line-height: normal;
    color: rgba(255, 255, 255, 0.95);
    margin-bottom: 40px;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 40px;
  }

  &__btn {
    padding: 17px 40px;

    @media (max-width: 1000px) {
      display: block;
      width: 300px;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__line-up {
    position: absolute;
    top: 0;
    left: -50px;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__line-down {
    position: absolute;
    top: 250px;
    left: -100px;

    @media (max-width: 1000px) {
      display: none;
    }
  }
}

.options {
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 12px;
  margin-bottom: 60px;

  @media (max-width: 1200px) {
    grid-template: 1fr 1fr / 1fr 1fr;
  }

  @media (max-width: 700px) {
    grid-template: 1fr / 0px auto 0px;
    gap: 0;
  }

  &__item {
    max-width: 400px;
    padding: 25px 40px;
    border-radius: 40px;
    background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #281d2d 100%);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 700px) {
      display: none;
    }
  }

  &__item-active {
    display: flex;
  }

  &__img {
    border-radius: 50%;
    width: 190px;
    height: 190px;
    border: 13px solid rgba(14, 14, 14, 0.32);
    margin-bottom: 20px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(192, 183, 232, 0.33);
    margin-bottom: 20px;
  }

  &__text {
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 35px;
  }

  &__btn {
    padding: 17px 40px;
  }

  &__prev, &__next {
    display: none;
    position: relative;
    z-index: 4;
    background: linear-gradient(268deg, #C0B7E8 -0.6%, #8176AF 98.31%);
    border-radius: 50%;

    @media (max-width: 700px) {
      display: block;
    }
  }
}

.clients {
  margin-bottom: 60px;

  &__intro {
    position: relative;
    background: linear-gradient(0deg, rgba(48, 44, 66, 0.69) 0%, rgba(48, 44, 66, 0.69) 100%), url('../../src/img/clients/main.png') 30% 50%, lightgray 50% / cover no-repeat;
    padding: 100px 0;
    border-radius: 160px;
    margin-bottom: 30px;

    @media (max-width: 700px) {
      padding: 50px 0;
      border-radius: 60px;
    }
  }

  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 11px;

    @media (max-width: 700px) {
      font-size: 16px;
    }
  }

  &__subtitle {
    text-align: center;
    font-size: 36px;
    font-weight: 300;

    @media (max-width: 700px) {
      font-size: 24px;
    }
  }

  &__arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background: rgba(129, 118, 175);
    padding: 5px;
    border-radius: 50%;
    border: 7px solid rgba(14, 14, 14, 0.32);
    overflow: hidden;

    @media (max-width: 700px) {
      display: none;
    }

    &-img {

    }
  }

  &__list {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    align-items: center;
    justify-items: center;

    @media (max-width: 1200px) {
      grid-template: repeat(2, auto) / repeat(2, 1fr);
    }

    @media (max-width: 700px) {
      grid-template: 1fr / 40px auto 40px;
    }
  }

  &__item {

    &-img {
      width: 100%;

      @media (max-width: 450px) {
        width: 90%;
      }
    }

    @media (max-width: 700px) {
      display: none;
    }

    &-active {


      @media (max-width: 700px) {
        height: 282px;
        display: grid;
        grid-template: 1fr / 1fr;
        justify-items: center;
        align-items: center;
      }
    }
  }
}

.steps {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 60px;

  @media (max-width: 800px) {
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
  }

  &__item {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 800px) {
      display: none;
    }
  }

  &__item-active {
    display: flex;
  }

  &__number {
    width: 175px;
    height: 175px;
    border: 15px solid rgba(13, 13, 13, 0.32);
    border-radius: 50%;
    padding: 32px 0;

    background: #8176AF;
    font-size: 64px;
    color: rgba(52, 48, 69, 0.8);
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;

    @media (max-width: 1200px) {
      width: 120px;
      height: 120px;
      border: 5px solid rgba(13, 13, 13, 0.32);
      padding: 22px 0;
      font-size: 50px;
    }
  }

  &__text {
    display: flex;
    align-items: start;
    margin-left: -25px;

    @media (max-width: 800px) {
      align-items: center;
      justify-content: center;
      width: 170px;
      margin: unset;
    }
  }

  &__arrow {
    margin-top: -18px;

    @media (max-width: 800px) {
      display: none;
      margin-top: unset;
    }
  }

  &__name {
    font-size: 24px;
    font-weight: 700;

    @media (max-width: 1200px) {
      font-size: 18px;
    }

    @media (max-width: 800px) {
      text-align: center;
      font-size: 24px;
    }
  }

  &__line {
    position: absolute;
    z-index: 0;
    top: 0;
    left: -50px;
    width: 120%;

    @media (max-width: 800px) {
      display: none;
    }
  }

  &__prev, &__next {
    display: none;
    transform: translateY(-50%);

    @media (max-width: 800px) {
      display: block;
    }
  }
}


// todo fix responsive
.join {
  border-radius: 100px;
  background: radial-gradient(50% 50% at 50% 50%, #423455 0%, #281D2D 100%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 60px 80px;
  margin-bottom: 90px;

  @media (max-width: 900px) {
    padding: 30px 40px;
  }

  &__title {
    display: block;
    width: 350px;
    padding-bottom: 30px;
    margin: 0 auto 20px auto;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 1px solid #9E8CC1;
  }

  &__subtitle {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
  }

  &__form {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template: repeat(3, 1fr) 210px 1fr / 1fr 1fr;
    grid-template-areas: 'name lastname' 'email phone' 'subject subject' 'text text' 'submit submit';
    column-gap: 20px;
    row-gap: 30px;

    @media (max-width: 900px) {
      grid-template: repeat(5, 1fr) 210px 1fr / 1fr;
      grid-template-areas: 'name' 'lastname' 'email' 'phone' 'subject' 'text' 'submit';
      gap: 20px;
    }

    #form-name {
      grid-area: name;
    }

    #form-lastname {
      grid-area: lastname;
    }

    #form-email {
      grid-area: email;
    }

    #form-phone {
      grid-area: phone;
    }

    #form-subject {
      grid-area: subject;
    }

    #form-submit {
      grid-area: submit;
    }

    #form-text {
      grid-area: text;
      resize: none;
      width: 100%;
      height: 210px;
    }

    &-input {
      width: 100%;
      padding: 20px 40px;
      border: 2px solid #fff;
      background: transparent;
      border-radius: 40px;
      font-size: 18px;

      &::placeholder {
        color: #ffffff;
      }
    }

    &-submit {
      padding: 17px 50px;
    }
  }

}

.footer {
  display: grid;
  grid-template: 1fr / 22% 22% 22% 36%;
  justify-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(192, 183, 232, 0.4);

  @media (max-width: 1100px) {
    grid-template: auto auto / repeat(2, 1fr);
  }

  @media (max-width:850px) {
    grid-template: repeat(2, auto) / 1fr;
  }

  &__section {
    width: 100%;
    padding: 15%;

    @media (max-width:1100px) {
      padding: 10%;
    }

    @media (max-width: 850px) {
      padding: 0;
    }

    &:not(:last-child) {
      border-right: 2px solid rgba(192, 183, 232, 0.4);
    }

    &:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 1100px) {
      &:nth-child(1) {
        order: 1;
        border-bottom: 2px solid rgba(192, 183, 232, 0.4);
      }

      &:nth-child(2) {
        order: 2;
        border-right: none;
        border-bottom: 2px solid rgba(192, 183, 232, 0.4);
      }

      &:nth-child(3) {
        order: 4;
        border-right: none;
      }

      &:nth-child(4) {
        order: 3;
        border-right: 2px solid rgba(192, 183, 232, 0.4);
      }
    }
    @media (max-width: 850px) {
      &:nth-child(1) {
        border-bottom: none;
        border-right: none;
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        display: none;
      }

      &:nth-child(4) {
        border-right: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__logo {
    width: 185px;
    height: auto;

    @media (max-width: 850px) {
      width: 60%;
    }
  }

  &__link {
    margin-bottom: 20px;

    &-item {
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin-bottom: 50px;

    &-item {
    }

    &-link {
    }

    &-img {
    }
  }

  &__build {
    padding: 17px 40px;
  }

}

.copyright {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.82px;
  line-height: 200%;
}